<div class="flex justify-center mt-12 sm:mt-20 lg:mt-24 px-3 sm:px-4">
  <div class="w-full max-w-md bg-slate-900/60 border border-slate-800 backdrop-blur p-5 rounded-xl shadow-2xl">
    <div class="mb-5">
      <h1 class="text-xl font-bold text-slate-100">Acceso denegado</h1>
      <p class="text-slate-300 text-sm">No posees acceso a esta pantalla. Inicia sesion para continuar.</p>
    </div>

    <button
      [routerLink]="['/login']"
      type="button"
      class="h-10 w-full sm:w-auto px-4 rounded-lg bg-indigo-500 hover:bg-indigo-400 text-white font-medium cursor-pointer"
    >
      Iniciar sesión
    </button>
  </div>
</div>
