<div class="flex items-center w-100vh py-3 px-3 gap-4 bg-indigo-800">
  <button class="py-2 px-3 rounded-md cursor-pointer"
          [ngClass]="{
          'bg-gray-600/50': selectedOption === 0,
          'bg-gray-400/50 hover:bg-gray-500/50': selectedOption !== 0
          }"
          (click)="changeOption(0)">Crear clientes</button>
  <button class="py-2 px-3 rounded-md cursor-pointer"
          [ngClass]="{
          'bg-gray-600/50': selectedOption === 1,
          'bg-gray-400/50 hover:bg-gray-500/50': selectedOption !== 1
          }"
          (click)="changeOption(1)">Ver clientes</button>
  <button class="py-2 px-3 rounded-md cursor-pointer"
          [ngClass]="{
          'bg-gray-600/50': selectedOption === 2,
          'bg-gray-400/50 hover:bg-gray-500/50': selectedOption !== 2
          }"
          (click)="changeOption(2)">Cargar turnos</button>
</div>
<router-outlet></router-outlet>
