<div class="flex justify-center mt-12">
  <form (ngSubmit)="postClient(form)" class="bg-slate-900/60 border border-slate-800 backdrop-blur flex flex-col w-[50vh] p-4 rounded-xl shadow-2xl" [formGroup]="form">
    <h1 class="font-bold mb-4">Crear cliente</h1>
    <div class="flex flex-col mb-4">
      <label class="text-slate-200 mb-1">Telefono</label>
      <input pInputText type="tel" formControlName="phoneNumber" class="w-full h-10 rounded-lg
         !bg-slate-950
         !border !border-slate-700
         focus:!border-indigo-400
         focus:!ring-0
         !text-slate-100">
      @if (form.get('phoneNumber')!.hasError('required') && form.get('phoneNumber')!.touched) {
        <span class="mt-1 text-sm text-red-300">Ingresá un telefono.</span>
      }
    </div>
    <div class="flex flex-col mb-4">
      <div class="flex items-center justify-start gap-2 mb-1">
        <label class="text-slate-200">Email</label>
        <span class="text-[11px] px-2 py-0.5 rounded-full
                 bg-slate-800/70 border border-slate-700
                 text-slate-300">
          Opcional
        </span>
      </div>
      <input pInputText type="email" formControlName="email" class="w-full h-10 rounded-lg
         !bg-slate-950
         !border !border-slate-700
         focus:!border-indigo-400
         focus:!ring-0
         !text-slate-100">
    </div>
    <div class="flex flex-col mb-4">
      <div class="flex items-center justify-start gap-2 mb-1">
        <label class="text-slate-200">Nombre</label>
        <span class="text-[11px] px-2 py-0.5 rounded-full
                 bg-slate-800/70 border border-slate-700
                 text-slate-300">
          Opcional
        </span>
      </div>
      <input pInputText type="text" formControlName="firstName" class="w-full h-10 rounded-lg
         !bg-slate-950
         !border !border-slate-700
         focus:!border-indigo-400
         focus:!ring-0
         !text-slate-100">
    </div>
    <div class="flex flex-col mb-4">
      <div class="flex items-center justify-start gap-2 mb-1">
        <label class="text-slate-200">Apellido</label>
        <span class="text-[11px] px-2 py-0.5 rounded-full
                 bg-slate-800/70 border border-slate-700
                 text-slate-300">
          Opcional
        </span>
      </div>
      <input pInputText type="text" formControlName="lastName" class="w-full h-10 rounded-lg
         !bg-slate-950
         !border !border-slate-700
         focus:!border-indigo-400
         focus:!ring-0
         !text-slate-100">
    </div>
    <div class="flex flex-col mb-4">
      <div class="flex items-center justify-start gap-2 mb-1">
        <label class="text-slate-200">DNI</label>
        <span class="text-[11px] px-2 py-0.5 rounded-full
                 bg-slate-800/70 border border-slate-700
                 text-slate-300">
          Opcional
        </span>
      </div>
      <input pInputText type="text" formControlName="documentNumber" class="w-full h-10 rounded-lg
         !bg-slate-950
         !border !border-slate-700
         focus:!border-indigo-400
         focus:!ring-0
         !text-slate-100">
    </div>
    <div class="flex gap-2">
      <button type="submit" class="h-10 px-4 rounded-lg bg-indigo-500 hover:bg-indigo-400 text-white font-medium cursor-pointer">
        Guardar
      </button>
      <button [routerLink]="['/clients-view']" type="button" class="h-10 px-4 rounded-lg bg-slate-800 hover:bg-slate-700 text-slate-200 cursor-pointer">
        Cancelar
      </button>
    </div>
  </form>
</div>
