<div class="flex justify-center mt-12">
  <form (submit)="postShift()" class="bg-neutral-700 flex flex-col w-[50vh] p-4 rounded-xl shadow-2xl" [formGroup]="formShift">
    <h1 class="font-bold mb-4">Crear cliente</h1>
    <div class="flex flex-col mb-4">
      <label for="">Fecha</label>
      <p-date-picker type="text" formControlName="date"
      [minDate]="minDate"
      ></p-date-picker>
    </div>
    <div class="flex flex-col mb-4">
      <label for="">Hora</label>
      <p-date-picker type="text" formControlName="time" timeOnly></p-date-picker>
    </div>
    <div class="flex flex-col mb-4">
      <label for="">Cliente</label>
      <p-select
        [options]="clients"
        optionValue="id"
        placeholder="Seleccionar cliente">
        <ng-template pTemplate="item" let-client>
          {{ client.firstName }} {{ client.lastName }} - {{ client.documentNumber }}
        </ng-template>

        <ng-template pTemplate="selectedItem" let-client>
          {{ client.firstName }} {{ client.lastName }} - {{ client.documentNumber }}
        </ng-template>
      </p-select>
    </div>
    <div class="flex gap-2">
      <p-button type="submit" severity="success">Guardar</p-button>
      <p-button severity="danger">Cancelar</p-button>
    </div>
  </form>
</div>
